<div class="profile-container mt-3">
  <div class="profile-header">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p>Email: <%= @user.email %></p>
  </div>
  <div class="profile-links">
    <ul>
      <div><i class="fa-regular fa-heart"></i> <%= link_to "Favoritos", favorites_path %></div>
      <div><i class="fa-solid fa-bars"></i> <%= link_to "Dados da conta", favorites_path %></div>
      <div><i class="fa-regular fa-circle-question"></i> <%= link_to "Ajuda", favorites_path %></div>
      <div><i class="fa-solid fa-gear"></i> <%= link_to "Configurações", favorites_path %></div>
    </ul>
  </div>
  <div class="profile-actions">
  <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-light" %>
  </div>
</div>