<div class="profile-container mt-3">
  <div class="profile-header">
    <div class="col-md-6">
    <%# <% if User.profile_pic.exists? %>
      <%# cloudinary %>
    <%# <% else %>
      <%= image_tag("Placerouder_profile.png", alt:"Avatar do usuário", class:"profile-picture") %>
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>Email: <%= @user.email %></p>
    </div>
  </div>
  <div class="profile-links ">
    <ul class="col-md-6">
      <div><i class="fa-regular fa-heart"></i> <%= link_to "Favoritos", favorites_path %></div>
      <div><i class="fa-solid fa-bars"></i> <%= link_to "Dados da conta", favorites_path %></div>
      <div><i class="fa-regular fa-circle-question"></i> <%= link_to "Ajuda", favorites_path %></div>
      <div><i class="fa-solid fa-gear"></i> <%= link_to "Configurações", favorites_path %></div>
    </ul>
  </div>
  <div class="profile-actions text-left">
  <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-light" %>
  </div>
</div>
