
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h2 class="mb-4" style="font-family: 'Montserrat', sans-serif;">Cadastr no Yummy</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.input :first_name, placeholder: 'first_name', label: false %>
        <%= f.input :last_name, placeholder: 'last_name', label: false %>
        <%= f.input :email, placeholder: 'e-mail', label: false %>
        <%= f.input :password, placeholder: 'password', label: false  %>
        <%= f.input :password_confirmation, placeholder: 'confirm_password', label: false  %>
        <div class="d-grid gap-2">
          <%= f.submit "Entrar", class: 'btn btn-warning rounded-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
