

<nav class="navbar fixed-bottom bg-light footer">
  <div class="container-fluid">

    <%= link_to root_path do %>
      <i class="fa-solid fa-house <%= 'animate__animated animate__bounce' if @animate == :home %>"></i>
    <% end %>

    <%= link_to favorites_path do %>
      <i class="fa-regular fa-heart <%= 'animate__animated animate__heartBeat' if @animate == :favorite %>"></i>
    <% end %>

    <%= link_to chat_path do %>
      <i class="fa-solid fa-robot"></i>
    <% end %>

    <%# <%= link_to filter_path do %>
      <%# <i class="fa-solid fa-magnifying-glass"></i> %>
    <%# <% end %>

    <%= link_to profile_path do %>
      <i class="fa-solid fa-user <%= 'animate__animated animate__bounce' if @animate == :profile %>"></i>
    <% end %>

  </div>
</nav>
