


<h2>Terceira Página</h2>

<%= link_to "Entre ou Cadastre-se", '#' %>

<div>
  <label for="region">Região:</label>
  <input type="text" id="region" name="region">
</div>

<div>
  <label for="phone">Número de Telefone:</label>
  <input type="tel" id="phone" name="phone">
</div>

<%= button_to "Continuar com E-mail", '#' %>
<%= button_to "Continuar com Facebook", '#' %>
<%= button_to "Continuar com Google", '#' %>
<%= button_to "Continuar com Apple", '#' %>



