<%= render "shared/modal" do %>
  <div>
    <% if current_user %>
      <%= form_with url: restaurants_path, method: :get, class: "d-flex", data: {turbo_frame:"restaurants", action: "submit->modal#closeModal"} do |f| %>
        <%= hidden_field_tag :lat, nil, "data-geolocation-target": 'lat' %>
        <%= hidden_field_tag :lng, nil, "data-geolocation-target": 'lng' %>
        <div>
          <div class="tags-wrapper">
            <%= f.collection_radio_buttons :cuisine_id, @cuisines, :id, :name, selected: @cuisine ? @cuisine.id  : nil, prompt: true %>
          </div>
          <div data-controller="slider" data-slider-type-value="km">
            <div class="d-flex justify-content-between">
              <span>Distancia</span>
              <span data-slider-target="info"></span>
            </div>
            <%= f.range_field :distance, in: 1..5, step: 1, data: { slider_target: "input", action: "input->slider#update" } %>
          </div>

          <div data-controller="slider" data-slider-type-value="price">
            <div class="d-flex justify-content-between">
              <span>Preço</span>
              <span data-slider-target="info"></span>
            </div>
          <%= f.range_field :price, in: 1..5, step: 1, data: { slider_target: "input", action: "input->slider#update" } %>
          </div>

          <div data-controller="slider" data-slider-type-value="star">
            <div class="d-flex justify-content-between">
              <span>Avaliaçao</span>
              <span data-slider-target="info"></span>
            </div>
            <%= f.range_field :rating, in: 1..5, step: 1, data: { slider_target: "input", action: "input->slider#update" } %>
          </div>

          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% else  %>
      <p>Faca seu cadastro para poder filtrar</p>
    <% end %>
  </div>
<% end %>
