<%= render "shared/modal" do %>
  <div>
    <% if current_user %>
      <%= form_with url: restaurants_path, method: :get, class: "d-flex" do |f| %>
        <%= hidden_field_tag :lat, nil, "data-geolocation-target": 'lat' %>
        <%= hidden_field_tag :lng, nil, "data-geolocation-target": 'lng' %>
        <li>
          <%= f.collection_select :cuisine_id, @cuisines, :id, :name, {selected: @cuisine ? @cuisine.id  : nil, prompt: true}, {class: 'form-control',  } %>
          <%= f.range_field :distance, in: 0..50, step: 1 %>
          <%= f.range_field :price, in: 0..3, step: 1 %>
          <%= f.range_field :rating, in: 0..5, step: 1 %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        </li>
      <% end %>
    <% else  %>
      <p>Faca seu cadastro para poder filtrar</p>
    <% end %>
  </div>
<% end %>
