<div class="" data-controller="geolocation">
  <div class="col-sm-8 my-3">
    <% if current_user %>
      <%= form_with url: restaurants_path, method: :get, class: "d-flex" do |f| %>
        <%= hidden_field_tag :lat, nil, "data-geolocation-target": 'lat' %>
        <%= hidden_field_tag :lng, nil, "data-geolocation-target": 'lng' %>

        <%= f.collection_select :cuisine_id, @cuisines, :id, :name, {selected: @cuisine ? @cuisine.id  : nil, prompt: true}, {class: 'form-control',  } %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    <% else  %>
      <p>Faca seu cadastro para poder filtrar</p>
    <% end %>
  </div>
</div>
<div class="container col-12 col-lg-8">
  <div class="card-container col-10 text-center" >
      <% @restaurants.each do |restaurant| %>
        <div class="restaurant-card">
          <div class="card-image">
            <% if restaurant.photo_url.present?%>
              <%= link_to restaurant_path(restaurant) do %>
                <%= image_tag restaurant.photo_url %>
              <% end %>
            <% end %>

          </div>
          <div class="card-info">
            <h3>
              <%= restaurant.name %>
            </h3>
            <p>
              Nota: <%= restaurant.rating %>
            </p>
          </div>
        </div>
      <% end %>

  </div>
</div>





<%#= button_tag "Clique Aqui", id: "meuBotao", data: { controller: "click", action: "click->click#handleClick" } %>


  <%# - <%= restaurant.address %>
