
<div class="" >

  <div class="card-show">
    <%= image_tag @restaurant.photo_url.present? ? @restaurant.photo_url : 'restaurant.png', class: "card-show-img"%>
      <div class="favorites_button_container">
        <%= link_to restaurant_favorites_path(restaurant_id: @restaurant.id), data: {turbo_method: :post}, class: "circular-button" do %>
          <i class="fa-regular fa-heart fa-lg"></i>
        <% end %>
        <div class="button-left">
        <%= link_to restaurants_path, class: "flex-button" do %>
          <i class="fa-solid fa-chevron-left fa-lg" style="color: #ffffff;"></i>
        <% end %>
        </div>
      </div>
  </div>

  <div class="card-show-info">
    <h2><%= @restaurant.name %></h2>
    <p>Nota: <%= @restaurant.rating %></p>
    <hr>
    <p class="text-secondary"><%= @descriptions.sample %></p>
    <hr>
    <p><%= @restaurant.address %></p>
  </div>
</div>
''